
<div class="wrapper">
  <app-adminnav *ngIf="userRole === 'Admin'"></app-adminnav> 
  <app-usernav *ngIf="userRole === 'User'"></app-usernav>
  
  <div class="coverimage">
    <img src="/assets/images/homepage.webp" alt="Cover" class="lazyload">
    <div class="title">WiZone</div>
  </div>

  <div class="content">
    <p>
      Stay connected with the best WiFi plans tailored for your needs. WiFiSelector offers a wide range of schemes, from high-speed internet and unlimited data to region-specific plans designed for affordability and reliability.
    </p>
  </div>
  

  <div class="contact">
    <h2>Contact Us</h2>
    <p>Phone: 123-456-7890</p>
  </div>
</div>
