<app-adminnav></app-adminnav>
<div id="parent">
  <div id="bookHomeBody" [ngClass]="{ blur: showDeletePopup || showImagePopup }">
    <h1>Books</h1>
    <hr>

    <div class="top-container" *ngIf="status !== 'loading'">
      <div>
        <label for="searchBox">Search by:</label>
        <input
          id="searchBox"
          type="text"
          placeholder="Book Title..."
          [(ngModel)]="searchField"
          (ngModelChange)="applyFilters()"
        />
      </div>
      <div>
        <label for="genreSelect">Filter by:</label>
        <select [(ngModel)]="selectedGenre" (ngModelChange)="applyFilters()" id="genreSelect">
          <option [ngValue]="null">All Genres</option>
          <option *ngFor="let genre of uniqueGenres" [ngValue]="genre">{{ genre }}</option>
        </select>
      </div>
    </div>

    <div *ngIf="status === 'loading'" class="loading-container">
      <p>Loading...</p>
    </div>

    <table *ngIf="status !== 'loading'" class="book-table">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Title</th>
          <th>Author</th>
          <th>Genre</th>
          <th>Rental Fee</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody *ngIf="status === 'error'">
        <tr>
          <td colspan="7">Error loading data</td>
        </tr>
      </tbody>
      <tbody *ngIf="status === 'noRecords'">
        <tr>
          <td colspan="7" class="no-records-cell">Oops! No records found</td>
        </tr>
      </tbody>
      <tbody *ngIf="availableBooks.length > 0">
        <tr *ngFor="let book of availableBooks; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.genre }}</td>
          <td>₹{{ book.rentalFee }}</td>
          <td>{{ book.description }}</td>
          <td>
            <button (click)="navigateToEditBook(book.bookId)">Edit</button>
            <button (click)="handleDeleteClick(book.bookId)" id="deleteButton">Delete</button>
            <button class="blue" (click)="showCoverImage(book.coverImage)">Show Cover Image</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Delete Popup -->
  <div *ngIf="showDeletePopup" class="delete-popup">
    <p>Are you sure you want to delete?</p>
    <button (click)="handleConfirmDelete()" id="delete-btn">Yes, Delete</button>
    <button (click)="closeDeletePopup()">Cancel</button>
    <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>
  </div>

  <!-- Image Modal Popup -->
  <div *ngIf="showImagePopup" class="image-popup">
    <div class="image-popup-content">
      <span class="close-btn" (click)="closeImagePopup()">X</span>
      <img [src]="'data:image/jpeg;base64,' + selectedCoverImage" alt="Cover Image" />
    </div>
  </div>
</div>
