<app-adminnav></app-adminnav>
<div class="book-form-container" [ngClass]="{ blur: successPopup }">
  <button *ngIf="id" type="button" class="back-button" (click)="navigateBack()">Back</button>
  <h2>{{ id ? 'Edit Book' : 'Create New Book' }}</h2>
  <hr />

  <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="title">Book Title<span class="required">*</span></label>
      <input id="title" type="text" formControlName="title" />
      <div *ngIf="bookForm.controls['title'].touched && bookForm.controls['title'].hasError('required')" class="error">
        *Book Title is required
      </div>
    </div>

    <div>
      <label for="author">Author<span class="required">*</span></label>
      <input id="author" type="text" formControlName="author" />
      <div *ngIf="bookForm.controls['author'].touched && bookForm.controls['author'].hasError('required')" class="error">
        *Author is required
      </div>
    </div>

    <div>
      <label for="genre">Genre<span class="required">*</span></label>
      <input id="genre" type="text" formControlName="genre" />
      <div *ngIf="bookForm.controls['genre'].touched && bookForm.controls['genre'].hasError('required')" class="error">
        *Genre is required
      </div>
    </div>

    <div>
      <label for="description">Description<span class="required">*</span></label>
      <textarea id="description" formControlName="description"></textarea>
      <div *ngIf="bookForm.controls['description'].touched && bookForm.controls['description'].hasError('required')" class="error">
        *Description is required
      </div>
    </div>

    <div>
      <label for="rentalFee">Rental Fee<span class="required">*</span></label>
      <input id="rentalFee" type="number" formControlName="rentalFee" />
      <div *ngIf="bookForm.controls['rentalFee'].touched && bookForm.controls['rentalFee'].hasError('required')" class="error">
        *Rental Fee is required
      </div>
    </div>

    <div>
      <label for="coverImage">Cover Image<span class="required">*</span></label>
      <input id="coverImage" type="file" (change)="handleFileChange($event)" accept=".jpg, .jpeg, .png" />
      <div *ngIf="imageError" class="error">
        *{{ imageError }}
      </div>
    </div>

    <div *ngIf="errorMessage" class="error">
      *{{ errorMessage }}
    </div>

    <button type="submit" class="submit-button">{{ id ? 'Update Book' : 'Add Book' }}</button>
  </form>
</div>

<div *ngIf="successPopup" class="success-popup">
  <div class="success-popup-content">
    <p>{{ id ? 'Book Updated Successfully!' : 'Book Added Successfully!' }}</p>
    <button (click)="handleSuccessMessage()" class="ok-button">Ok</button>
  </div>
</div>
