/* LoanForm.css */

.book-form-container {
    max-width: 400px;
    margin: 5rem auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input,
  select {
    margin: 10px 0;
    padding: 12px 15px; /* Increased padding for a more comfortable feel */
    border: none; /* Remove the default border */
    border-radius: 30px; /* Rounded corners */
    background-color: #f1f1f1; /* Light background for inputs */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for focus effect */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
  }
  
  input:focus,
  select:focus {
    outline: none; /* Remove the default outline */
    background-color: #ffffff; /* Change background on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Glow effect on focus */
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 30px; /* Rounded button */
    padding: 12px 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* Added transform for hover effect */
  }
  
  button:hover {
    background-color: #0056b3;
    transform: translateY(-2px); /* Slight lift effect on hover */
  }
  
  button:active {
    transform: translateY(1px); /* Slight depress effect when clicked */
  }
  
  /* Media query for responsiveness */
  @media (max-width: 480px) {
    .training-form-container {
      max-width: 100%;
    }
  }
  
  .required {
    color: red;
  }
  
  .blur {
    filter: blur(2px);
    pointer-events: none; /* Apply a blur filter to the content */
  }
  
  /* CSS for Success Popup */
  .success-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f2f2f2;
    border: 1px solid black;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
    z-index: 2; /* Above the overlay */
  }
  
  .error {
    color: red;
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
  }
  
  hr {
    border: none;
    border-top: 2px solid #007bff;
    color: #007bff;
    overflow: visible;
    text-align: center;
    height: 5px;
    margin-bottom: 3%;
  }
  