<app-usernav></app-usernav>
<div *ngIf="orders.length > 0; else noOrders">
    <div *ngFor="let order of orders" class="order-card">
      <h3>Order ID: {{ order.orderId }}</h3>
      <p>Status: {{ order.orderStatus }}</p>
      <p>Total Amount: {{ order.totalAmount }}</p>
      <div *ngFor="let item of order.orderItems" class="order-item">
        <p>Product: {{ item.product.productName }}</p>
        <p>Quantity: {{ item.quantity }}</p>
        <p>Price: {{ item.price }}</p>
      </div>
      <hr />
    </div>
  </div>
  
  <ng-template #noOrders>
    <p>No orders found.</p>
  </ng-template>
  