<nav>
  <ul class="nav-links">
    <ng-container *ngIf="isLoggedIn">
      <li *ngIf="isAdmin">
        <a routerLinkActive="active">EduLoan</a>
        <ul class="sub-menu">
          <li><a routerLink="/admin/add/newloan">Add Loan</a></li>
          <li><a routerLink="/admin/view/viewloan">View Loan</a></li>
        </ul>
      </li>
      <li *ngIf="isAdmin"><a routerLink="admin/view/requestedloan">Requested EduLoans</a></li>
      <li *ngIf="isAdmin"><a routerLink="admin/view/feedback">Feedbacks</a></li>
    </ng-container>
  </ul>
</nav>
