<app-coordinatornav></app-coordinatornav>
<div class="trainer-form-container" [ngClass]="{ blur: successPopup }">
  <button *ngIf="id" type="button" class="back-button" (click)="navigateBack()">Back</button>
  <h2>{{ id ? 'Edit Trainer' : 'Add New Trainer' }}</h2>
  <hr />

  <form [formGroup]="trainerForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Name<span class="required">*</span></label>
      <input id="name" type="text" formControlName="name" />
      <div *ngIf="trainerForm.controls['name'].touched && trainerForm.controls['name'].hasError('required')" class="error">
        *Name is required
      </div>
    </div>

    <div>
      <label for="email">Email<span class="required">*</span></label>
      <input id="email" type="email" formControlName="email" />
      <div *ngIf="trainerForm.controls['email'].touched && trainerForm.controls['email'].hasError('required')" class="error">
        *Email is required
      </div>
    </div>

    <div>
      <label for="phone">Phone<span class="required">*</span></label>
      <input id="phone" type="text" formControlName="phone" />
      <div *ngIf="trainerForm.controls['phone'].touched && trainerForm.controls['phone'].hasError('required')" class="error">
        *Phone number is required
      </div>
    </div>

    <div>
      <label for="expertise">Expertise<span class="required">*</span></label>
      <input id="expertise" type="text" formControlName="expertise" />
      <div *ngIf="trainerForm.controls['expertise'].touched && trainerForm.controls['expertise'].hasError('required')" class="error">
        *Expertise is required
      </div>
    </div>

    <div>
      <label for="experience">Experience<span class="required">*</span></label>
      <input id="experience" type="text" formControlName="experience" />
      <div *ngIf="trainerForm.controls['experience'].touched && trainerForm.controls['experience'].hasError('required')" class="error">
        *Experience is required
      </div>
    </div>

    <div>
      <label for="certification">Certification<span class="required">*</span></label>
      <input id="certification" type="text" formControlName="certification" />
      <div *ngIf="trainerForm.controls['certification'].touched && trainerForm.controls['certification'].hasError('required')" class="error">
        *Certification is required
      </div>
    </div>

    <div>
        <label for="resume">Resume<span class="required">*</span></label>
        <input id="resume" type="file" (change)="handleFileChange($event)" accept=".jpg, .jpeg, .png" />
        <div *ngIf="fileError" class="error">
          *{{ fileError }}
        </div>
      </div>
      

    <div>
      <label for="joiningDate">Joining Date<span class="required">*</span></label>
      <input id="joiningDate" type="date" formControlName="joiningDate" />
      <div *ngIf="trainerForm.controls['joiningDate'].touched && trainerForm.controls['joiningDate'].hasError('required')" class="error">
        *Joining date is required
      </div>
    </div>

    <button type="submit" class="submit-button">{{ id ? 'Update Trainer' : 'Add Trainer' }}</button>
  </form>
</div>

<div *ngIf="successPopup" class="success-popup">
  <div class="success-popup-content">
    <p>{{ id ? 'Trainer Updated Successfully!' : 'Trainer Added Successfully!' }}</p>
    <button (click)="handleSuccessMessage()" class="ok-button">Ok</button>
  </div>
</div>
