<app-usernav></app-usernav>
<div>
  <div class="container" [ngClass]="{ blur: successPopup }">
    <div class="button-container">
      <button (click)="navigateBack()">Back</button>
    </div>
    <h2>Loan Application Form</h2>

    <form [formGroup]="loanForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="farmLocation">Farm Location<span class="required">*</span></label>
        <input id="farmLocation" type="text" formControlName="farmLocation" />
        <div *ngIf="loanForm.controls['farmLocation']?.touched && loanForm.controls['farmLocation'].hasError('required')" class="error">
          *Farm Location is required
        </div>
      </div>

      <div>
        <label for="farmerAddress">Farmer's Address<span class="required">*</span></label>
        <input id="farmerAddress" type="text" formControlName="farmerAddress" />
        <div *ngIf="loanForm.controls['farmerAddress']?.touched && loanForm.controls['farmerAddress'].hasError('required')" class="error">
          *Farmer's Address is required
        </div>
      </div>

      <div>
        <label for="farmSizeInAcres">Farm Size (in acres)<span class="required">*</span></label>
        <input id="farmSizeInAcres" type="number" formControlName="farmSizeInAcres" />
        <div *ngIf="loanForm.controls['farmSizeInAcres']?.touched && loanForm.controls['farmSizeInAcres'].hasError('required')" class="error">
          *Farm Size is required
        </div>
      </div>

      <div>
        <label for="farmPurpose">Farm Purpose<span class="required">*</span></label>
        <input id="farmPurpose" type="text" formControlName="farmPurpose" />
        <div *ngIf="loanForm.controls['farmPurpose']?.touched && loanForm.controls['farmPurpose'].hasError('required')" class="error">
          *Farm Purpose is required
        </div>
      </div>

      <div>
        <label for="file">Proof<span class="required">*</span></label>
        <input id="file" type="file" (change)="handleFileChange($event)" accept=".jpg, .jpeg, .png, .pdf" />
        <div *ngIf="loanForm.controls['file']?.touched && loanForm.controls['file'].hasError('required')" class="error">
          *Proof document is required
        </div>
      </div>

      <div *ngIf="errorMessage" class="error">
        *{{ errorMessage }}
      </div>

      <div>
        <button type="submit" class="submit-button">Submit</button>
      </div>
    </form>
  </div>

  <div *ngIf="successPopup" class="success-popup">
    <p>Successfully Submitted!</p>
    <button (click)="handleSuccessMessage()">Ok</button>
  </div>
</div>
