<app-adminnav></app-adminnav>
<div class="dashboard-container">
    <h1>Admin Dashboard</h1>
    <div class="card-grid">
      <!-- Total Schemes Card -->
      <div class="dashboard-card">
        <h2>Total WiFi Schemes</h2>
        <p>{{ totalSchemes }}</p>
      </div>
  
      <!-- Available Schemes Card -->
      <div class="dashboard-card">
        <h2>Available Schemes</h2>
        <p>{{ availableSchemes }}</p>
      </div>
  
      <!-- Non-Available Schemes Card -->
      <div class="dashboard-card">
        <h2>Non-Available Schemes</h2>
        <p>{{ nonAvailableSchemes }}</p>
      </div>
    </div>
  </div>
  