<app-adminnav></app-adminnav>
<div id="parent">
  <div id="workoutBody" [ngClass]="{ blur: showDeletePopup }">
    <h1>Workouts</h1>
    <hr>
    <div class="top-container">
      <input
        id="searchBox"
        type="text"
        placeholder="Search..."
        [(ngModel)]="searchField"
        (ngModelChange)="handleSearchChange($event)"
      />
    </div>

    <table class="plan-table">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Workout Name</th>
          <th>Description</th>
          <th>Difficulty Level</th>
          <th>Target Area</th>
          <th>Days Per Week</th>
          <th>Duration (Minutes)</th>
          <th>Created At</th>
          <th>Action</th>
        </tr>
      </thead>

      <!-- Loading State -->
      <tbody *ngIf="status === 'loading'">
        <tr>
          <td colspan="9">Loading...</td>
        </tr>
      </tbody>

      <!-- Error State -->
      <tbody *ngIf="status === 'error'">
        <tr>
          <td colspan="9">Error loading data</td>
        </tr>
      </tbody>

      <!-- Workouts List -->
      <tbody *ngIf="availableWorkouts.length > 0; else noRecords">
        <tr *ngFor="let workout of availableWorkouts; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ workout.workoutName }}</td>
          <td>{{ workout.description }}</td>
          <td>{{ workout.difficultyLevel }}</td>
          <td>{{ workout.targetArea }}</td>
          <td>{{ workout.daysPerWeek }}</td>
          <td>{{ workout.averageWorkoutDurationInMinutes }} mins</td>
          <td>{{ workout.createdAt | date: 'shortDate' }}</td>
          <td>
            <button (click)="navigateToEditWorkout(workout._id)">Edit</button>
            <button (click)="handleDeleteClick(workout._id)" id="deleteButton">
              Delete
            </button>
          </td>
        </tr>
      </tbody>

      <!-- No Records Template -->
      <ng-template #noRecords>
        <tbody *ngIf="status !== 'loading'">
          <tr>
            <td colspan="9" class="no-records-cell">Oops! No records found</td>
          </tr>
        </tbody>
      </ng-template>
    </table>
  </div>

  <!-- Delete Confirmation Popup -->
  <div *ngIf="showDeletePopup" class="delete-popup">
    <p>Are you sure you want to delete?</p>
    <button (click)="handleConfirmDelete()" id="delete-btn">Yes, Delete</button>
    <button (click)="closeDeletePopup()">Cancel</button>
    <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>
  </div>
</div>
