
<div class="wrapper">
  <app-adminnav *ngIf="userRole === 'Admin'"></app-adminnav> 
  <app-usernav *ngIf="userRole === 'User'"></app-usernav>
  
  <div class="coverimage">
    <img src="/assets/images/background.webp" alt="Cover" class="lazyload">
    <div class="title">FarmAid</div>
  </div>

  <div class="content">
    <p>Your journey to financial growth begins with us. FarmAid offers a seamless process for accessing agricultural loans, tailored to meet the needs of farmers and their unique challenges. Start today and take one step closer to securing the support you need for a thriving farm.</p>
  </div>

  <div class="contact">
    <h2>Contact Us</h2>
    <p>Phone: 123-456-7890</p>
  </div>
</div>
