
<div class="wrapper">
  <app-adminnav *ngIf="userRole === 'Admin'"></app-adminnav> 
  <app-usernav *ngIf="userRole === 'User'"></app-usernav>
  
  <div class="coverimage">
    <img src="/assets/images/background.webp" alt="Cover" class="lazyload">
    <div class="title">ProKart</div>
  </div>
  
  <div class="content">
    <p>Welcome to ProKart, your one-stop solution for seamless online shopping. Explore a wide range of products, from electronics to fashion, and enjoy a hassle-free shopping experience. Start today and discover exclusive deals tailored just for you!</p>
  </div>

  <div class="contact">
    <h2>Contact Us</h2>
    <p>Phone: 123-456-7890</p>
  </div>
</div>
