<div class="loan-form-container" [class.blur]="successPopup">
  <button type="button" id="backButton" (click)="navigateToDashboard()">Back</button>
  <h2>Edit Loan</h2>
  <hr>
  <form #loanForm="ngForm" (ngSubmit)="handleUpdateLoan(loanForm)">
    <label for="loanType">Loan Type<span class="required">*</span></label>
    <input
      id="loanType"
      type="text"
      name="loanType"
      [(ngModel)]="formData.loanType"
      placeholder="Loan Type"
      required
      #loanType="ngModel"
      (change)="handleChange($event, 'loanType')"
    />
    <div class="error" *ngIf="loanType.invalid && loanType.touched">*Loan Type is required</div>

    <label for="description">Description<span class="required">*</span></label>
    <input
      id="description"
      type="text"
      name="Description"
      [(ngModel)]="formData.description"
      placeholder="Loan Description"
      required
      #description="ngModel"
      (change)="handleChange($event, 'description')"
    />
    <div class="error" *ngIf="description.invalid && description.touched">*Description is required</div>

    <label for="interestRate">Interest Rate<span class="required">*</span></label>
    <input
      id="interestRate"
      type="number"
      name="interestRate"
      [(ngModel)]="formData.interestRate"
      placeholder="Interest Rate"
      required
      #interestRate="ngModel"
      (change)="handleChange($event, 'interestRate')"
    />
    <div class="error" *ngIf="interestRate.invalid && interestRate.touched">*Interest Rate is required</div>

    <label for="maximumAmount">Maximum Amount<span class="required">*</span></label>
    <input
      id="MaximumAmount"
      type="number"
      name="maximumAmount"
      [(ngModel)]="formData.maximumAmount"
      placeholder="Maximum Amount"
      required
      #maximumAmount="ngModel"
      (change)="handleChange($event, 'maximumAmount')"
    />
    <div class="error" *ngIf="maximumAmount.invalid && maximumAmount.touched">*Maximum Amount is required</div>

    <label for="repaymentTenure">Repayment Tenure<span class="required">*</span></label>
    <input
      id="RepaymentTenure"
      type="number"
      name="RepaymentTenure"
      [(ngModel)]="formData.repaymentTenure"
      placeholder="Repayment Tenure"
      required
      #repaymentTenure="ngModel"
      (change)="handleChange($event, 'repaymentTenure')"
    />
    <div class="error" *ngIf="repaymentTenure.invalid && repaymentTenure.touched">*Repayment Tenure is required</div>

    <label for="eligibility">Eligibility<span class="required">*</span></label>
    <input
      id="Eligibility"
      type="text"
      name="Eligibility"
      [(ngModel)]="formData.eligibility"
      placeholder="Eligibility"
      required
      #eligibility="ngModel"
      (change)="handleChange($event, 'eligibility')"
    />
    <div class="error" *ngIf="eligibility.invalid && eligibility.touched">*Eligibility is required</div>

    <label for="documentsRequired">Documents Required<span class="required">*</span></label>
    <input
      id="DocumentsRequired"
      type="text"
      name="documentsRequired"
      [(ngModel)]="formData.documentsRequired"
      placeholder="Documents Required"
      required
      #documentsRequired="ngModel"
      (change)="handleChange($event, 'documentsRequired')"
    />
    <div class="error" *ngIf="documentsRequired.invalid && documentsRequired.touched">*Documents Required is required</div>

    <div *ngIf="errorMessage" class="error">*{{ errorMessage }}</div>

    <button type="submit">Update Loan</button>
  </form>
</div>
<div class="success-popup" *ngIf="successPopup">
  <p>Updated successfully</p>
  <button type="button" (click)="handleOkClick()">OK</button>
</div>
