<div class="page-content" [ngClass]="{ blur: showModal }">
  <!-- <button id="backButton" (click)="navigateBack()">Back</button> -->
  <h1>Loan Requests for Approval</h1>
  <hr>
  <div class="top-container">
    <input
      id="searchBox"
      type="text"
      placeholder="Search..."
      [(ngModel)]="searchValue"
      (input)="handleSearchChange($event)"
    />
    <label id="filter">
      Filter by Status:
      <select [(ngModel)]="statusFilter" (change)="handleFilterChange($event)">
        <option value="-1">All</option>
        <option value="0">Pending</option>
        <option value="1">Approved</option>
        <option value="2">Rejected</option>
      </select>
    </label>
  </div>
  <table>
    <thead>
      <tr>
        <th>S.No</th>
        <th>Username</th>
        <th>Loan Type</th>
        <th>Submission Date</th>
        <th>Institution</th>
        <th>Course</th>
        <th>Tuition Fee</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody *ngIf="filteredLoans.length > 0; else noRecords">
      <tr *ngFor="let request of filteredLoans ; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ request.user.username }}</td>
        <td>{{ request.loan.loanType }}</td>
        <td>{{ request.submissionDate | date : "yyyy-MM-dd" }}</td>
        <td>{{ request.institution }}</td>
        <td>{{ request.course }}</td>
        <td>₹{{ request.tuitionFee }}</td>
        <td>
          {{
            request.loanStatus === 0
              ? "Pending"
              : request.loanStatus === 1
              ? "Approved"
              : "Rejected"
          }}
        </td>
        <td>
          <button (click)="handleRowExpand(i)">Show More</button>
          <button
            id="greenButton"
            *ngIf="request.loanStatus === 0 || request.loanStatus === 2"
            (click)="handleApprove(request)"
          >
            Approve
          </button>
          <button
            id="redButton"
            *ngIf="request.loanStatus === 0 || request.loanStatus === 1"
            (click)="handleReject(request)"
          >
            Reject
          </button>
        </td>
      </tr>
    </tbody>
    <ng-template #noRecords>
      <tr>
        <td colspan="10" class="no-records-cell">Oops! No records Found</td>
      </tr>
    </ng-template>
  </table>
</div>

<div *ngIf="showModal" class="modal-overlay">
  <div class="modal-content">
    <button id="cross" (click)="closeLoanDetailsModal()">X</button>
    <div class="address-details">
      <div><b>Address:</b> {{ selectedLoan?.address }}</div>
      <div>
        <div><b>Proof:</b></div>
        <img
          src="{{ selectedLoan?.file }}"
          alt="Loan Image"
          style="height: 300px; width: 300px"
        />
      </div>
    </div>
  </div>
</div>
