<app-adminnav></app-adminnav>
<div id="parent">
  <div id="materialHomeBody" [ngClass]="{ blur: showDeletePopup }">
    <h1>Materials</h1>
    <hr />

    <div class="top-container">
      <div>
        <label for="searchBox">Search by:</label>
        <input
          id="searchBox"
          type="text"
          placeholder="Material Name..."
          [(ngModel)]="searchField"
          (ngModelChange)="applyFilters()"
        />
      </div>
      <div>
        <label for="categorySelect">Filter by Category:</label>
        <select [(ngModel)]="selectedCategory" (ngModelChange)="applyFilters()" id="categorySelect">
          <option [ngValue]="null">All Categories</option>
          <option *ngFor="let category of uniqueCategories" [ngValue]="category">{{ category }}</option>
        </select>
      </div>
    </div>

    <table class="material-table">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Material Name</th>
          <th>Category</th>
          <th>Price Per Unit</th>
          <th>Unit Type</th>
          <th>Availability</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody *ngIf="status === 'loading'">
        <tr>
          <td colspan="8">Loading...</td>
        </tr>
      </tbody>
      <tbody *ngIf="status === 'error'">
        <tr>
          <td colspan="8">Error loading data</td>
        </tr>
      </tbody>
      <tbody *ngIf="status === 'noRecords'">
        <tr>
          <td colspan="8" class="no-records-cell">Oops! No records found</td>
        </tr>
      </tbody>
      <tbody *ngIf="availableMaterials.length > 0">
        <tr *ngFor="let material of availableMaterials; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ material.materialName }}</td>
          <td>{{ material.category }}</td>
          <td>₹{{ material.pricePerUnit }}</td>
          <td>{{ material.unitType }}</td>
          <td>{{ material.availabilityStatus }}</td>
          <td>{{ material.description }}</td>
          <td>
            <button (click)="navigateToEditMaterial(material.materialId)">Edit</button>
            <button (click)="handleDeleteClick(material.materialId)" id="deleteButton">Delete</button>
            <button 
              (click)="toggleAvailability(material)" 
              [innerText]="material.availabilityStatus === 'In Stock' ? 'Mark Out of Stock' : 'Mark In Stock'"
              [ngClass]="material.availabilityStatus === 'In Stock' ? 'unavailable-button' : 'available-button'">
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="showDeletePopup" class="delete-popup">
    <p>Are you sure you want to delete?</p>
    <button class="confirm-delete-button" (click)="handleConfirmDelete()" id="delete-btn">Yes, Delete</button>
    <button  class="cancel-delete-button" (click)="closeDeletePopup()">Cancel</button>
    <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>
  </div>

</div>
