<nav class="clientnav">
    <h1 class="site-title" id="heading">
      <a routerLink="/home" style="color: inherit; text-decoration: inherit;">BidPoint</a>
    </h1>
    <ul class="nav-links">
      <li>
        <p class="user-role">{{ userName }} / {{ userRole }}</p>
      </li>
      <li><a [routerLink]="['/home']">Home</a></li>
      <li class="dropdown">
        <span class="dropdown-label">Project</span>
        <ul class="dropdown-menu">
          <li><a routerLink="/client/add/project">Add Project</a></li>
          <li><a routerLink="/client/view/projects">View Projects</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <span class="dropdown-label">Bid</span>
        <ul class="dropdown-menu">
          <li><a routerLink="/client/view/bids">View Bids</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <span class="dropdown-label">Feedback</span>
        <ul class="dropdown-menu">
          <li><a routerLink="/client/view/feedbacks">View Feedbacks</a></li>
        </ul>
      </li>
      <li>
        <button id="redbutton" class="button" (click)="showLogoutPopup = true">
          Logout
        </button>
      </li>
    </ul>
  
    <!-- Logout Popup -->
    <div *ngIf="showLogoutPopup" class="logout-popup">
      <div class="logout-popup-content">
        <p>Are you sure you want to logout?</p>
        <button (click)="logout(); showLogoutPopup = false;" class="button button-yes">
          Yes, Logout
        </button>
        <button (click)="showLogoutPopup = false" class="button button-cancel">
          Cancel
        </button>
      </div>
    </div>
  </nav>
  