<app-usernav></app-usernav>
<div class="container" [ngClass]="{ blur: successPopup }">
  <div class="button-container">
    <button (click)="navigateBack()">Back</button>
  </div>
  <h2>Book Rental Request Form</h2>

  <form [formGroup]="requestForm" (ngSubmit)="onSubmit()">
    <!-- Return Date Field -->
    <div>
      <label for="returnDate">Return Date<span class="required">*</span></label>
      <input id="returnDate" type="date" formControlName="returnDate" />
      <div *ngIf="requestForm.controls['returnDate']?.touched && requestForm.controls['returnDate'].hasError('required')" class="error">
        *Return date is required
      </div>
    </div>

    <!-- Comments Field -->
    <div>
      <label for="comments">Comments</label>
      <textarea id="comments" formControlName="comments"></textarea>
    </div>

    <!-- Error Message Display -->
    <div *ngIf="errorMessage" class="error">
      *{{ errorMessage }}
    </div>

    <!-- Submit Button -->
    <div>
      <button type="submit" class="submit-button">Submit</button>
    </div>
  </form>
</div>

<!-- Success Popup -->
<div *ngIf="successPopup" class="success-popup">
  <p>Successfully Submitted!</p>
  <button (click)="handleSuccessMessage()">Ok</button>
</div>
