/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f9fc;
}

/* Training Request Form Container */
.container {
  max-width: 400px;
  margin: 5rem auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

/* Input and Textarea Styles */
input[type="text"],
textarea {
  margin: 10px 0;
  padding: 12px 15px;
  border: none;
  border-radius: 30px;
  background-color: #f1f1f1;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

input:focus,
textarea:focus {
  outline: none;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Button Styles */
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 12px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

button:active {
  transform: translateY(1px);
}

/* Error Message Style */
.error {
  color: red;
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 4px;
}

/* Required Indicator */
.required {
  color: red;
}

/* Blur Effect */
.blur {
  filter: blur(2px);
  pointer-events: none;
}

/* Success Popup */
.success-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: center;
  z-index: 2;
}

/* Back Button Styling */
.button-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-bottom: 15px;
}

.button-container button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

/* Responsive Design */
@media (max-width: 480px) {
  .container {
    max-width: 100%;
    padding: 15px;
  }
}

/* Horizontal Rule Style */
hr {
  border: none;
  border-top: 2px solid #007bff;
  color: #007bff;
  overflow: visible;
  text-align: center;
  height: 5px;
  margin: 20px 0;
}
