<div class="container" [ngClass]="{ blur: successPopup }">
  <div class="button-container">
    <button (click)="navigateBack()">Back</button>
  </div>
  <h2>Training Request Form</h2>

  <form [formGroup]="requestForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="healthConditions">Health Conditions<span class="required">*</span></label>
      <input id="healthConditions" type="text" formControlName="healthConditions" />
      <div *ngIf="requestForm.controls['healthConditions']?.touched && requestForm.controls['healthConditions'].hasError('required')" class="error">
        *Health conditions are required
      </div>
    </div>

    <div>
      <label for="fitnessGoals">Fitness Goals<span class="required">*</span></label>
      <input id="fitnessGoals" type="text" formControlName="fitnessGoals" />
      <div *ngIf="requestForm.controls['fitnessGoals']?.touched && requestForm.controls['fitnessGoals'].hasError('required')" class="error">
        *Fitness goals are required
      </div>
    </div>

    <div>
      <label for="comments">Comments</label>
      <textarea id="comments" formControlName="comments"></textarea>
    </div>

    <div *ngIf="errorMessage" class="error">
      *{{ errorMessage }}
    </div>

    <div>
      <button type="submit" class="submit-button">Submit</button>
    </div>
  </form>
</div>

<div *ngIf="successPopup" class="success-popup">
  <p>Successfully Submitted!</p>
  <button (click)="handleSuccessMessage()">Ok</button>
</div>
