
<div class="wrapper">
  <app-adminnav *ngIf="userRole === 'Admin'"></app-adminnav> 
  <app-usernav *ngIf="userRole === 'User'"></app-usernav>
  
  <div class="coverimage">
    <img src="/assets/images/background.webp" alt="Cover" class="lazyload">
    <div class="title">FitMentor</div>
  </div>

  <div class="content">
    <p>Your journey to being healthy begins with us.Fitmentor offers a wide range of training options, from strength conditioning and flexibility improvement to specialized programs like yoga and high-intensity interval training.</p>
  </div>

  <div class="contact">
    <h2>Contact Us</h2>
    <p>Phone: 123-456-7890</p>
  </div>
</div>
