
<div class="wrapper">
  <app-adminnav *ngIf="userRole === 'Admin'"></app-adminnav> 
  <app-usernav *ngIf="userRole === 'User'"></app-usernav>
  
  <div class="coverimage">
    <img src="/assets/images/background.webp" alt="Cover" class="lazyload">
    <div class="title">BookHaven</div>
  </div>

  <div class="content">
    Your reading adventure begins here! BookHaven offers a diverse collection of books, 
    from thrilling fiction and inspiring non-fiction to educational resources and timeless classics. 
    Rent your favorite books and let the stories unfold!
  </div>

  <div class="contact">
    <h2>Contact Us</h2>
    <p>Phone: 123-456-7890</p>
  </div>
</div>
